$titleFont: 'Leckerli One', cursive;
$fontFamily: 'Nunito', sans-serif;
$headerFont: 'Lora', serif;

$bgColor: #f4ece9;
$bgColor2: #e3e9f0;
$headerColor: #24456b;
$navColor: #f4e1da;
$accentColor: #d19c8d;
$white: #fff;