@import "./assets";

html, body {
    margin: 0;
    font-family: $fontFamily;
    font-size: 1rem;
    background: $bgColor;
    z-index: -1;
}

h1, h2, h3 {
    font-family: $headerFont;
    color: $headerColor;
}

a {
    text-decoration: none;
    color: $accentColor2;
}

.wrapper {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

nav {
    display: block;
    width: 100%;
    height: auto;
    position: sticky;
    top: 0;
    z-index: 10;
    text-align: center;
    background: $navColor;
    border-top: 0.3em solid $accentColor;

    .logo {
        display: inline-block;
        position: absolute;
        padding: 0.6em 0.8em;
        font-family: $titleFont;
        color: $headerColor;
        font-size: 1.5rem;
    }
    
    .hamburger {
        display: inline-block;
        width: 2em;
        margin: 0.8em 1.2em;
        margin-left: calc(100% - (2em + 1.2em));
        cursor: pointer;
        
        & div {
            transform: none;
            background: $headerColor;
            width: 1.6em;
            height: 0.14em;
            margin: 0.4em;
            border-radius: 50px;
            transition: all ease-in-out 0.35s;
        }

    }

    .hamburger.active {

        .hb1 {
            transform: rotate(-45deg) translate(-0.4em, 0.4em);
        }
        .hb2 {
            transform: translateX(0.8em);
            opacity: 0;
        }
        .hb3 {
            transform: rotate(45deg) translate(-0.4em, -0.4em);
        }

    }
    .navlinks {
        position: absolute;
        width: 0;
        margin: 0 auto;
        overflow: hidden;
        padding-bottom: 1em;
        opacity: 0;
    }
    
    .navlinks.active {
        display: block;
        position: relative;
        height: 100%;
        width: 100%;
        transform: translate(0, 0);
        opacity: 1;
        animation: navSlide 0.5s ease-in-out;
    }

    .navlinks a {
        display: block;
        width: max-content;
        transform: translate(0, 0);
        padding: 1em;
        margin: 0 auto;
        font-size: 0.8rem;
        text-transform: uppercase;
        font-weight: 600;
        color: $headerColor;

        &::after {
            content: '';
            position: relative;
            display: block;
            margin: 0 auto;
            height: 0.15em;
            background: $accentColor;
            border-radius: 5px;
            opacity: 0;
            bottom: -0.8em;
            transition: all ease-in-out 0.35s;
        }
        
        &:hover::after {
            opacity: 1;
            bottom: -0.3em;
        }
        
        &:hover {
            color: $accentColor;
        }
    }
}

@media only screen and (min-width: 680px) {
    nav {
        .logo {
            display: none;
        }

        .hamburger {
            display: none;
        }
        
        .navlinks {
            display: block;
            position: relative;
            width: 100%;
            padding: 0;
            opacity: 1;
            transform: translate(0);

            a {
                
            display: inline-block;
            padding: 1em 2em;
            }
        }
    }
}

@keyframes navSlide {
    from {
        opacity: 0;
        transform: translateX(5em);
    }
    to {
        opacity: 1;
        transform: translate(0);
    }
}