@import "./assets";
@import "./base";

main {
    margin: 0 auto;
    padding: 0 2em;
    width: calc(100% - 2 * 2em);
    text-align: center;
    transform: skewY(-3deg);
    
    & > div {
        transform: skewY(3deg);
        align-items: center;
    }

    .about {
        display: grid;
        grid-gap: 1.2em;
    }

    .cta {
        margin: 1.2em 0;
    }

    h1 {
        display: block;
        font-family: $titleFont;
        font-weight: 500;
        text-align: center;
        font-size: 3rem;
        transform: skewY(-3deg);
    }

    .cover {
        display: block;
        width: 100%;
        padding: 50% 0;
        background-image: url(../images/about-profile.jpg);
        background-size: cover;
        background-position-x: 40%;
        background-repeat: no-repeat;
    }
    
    .bio, .cta {
        background: $white;
        padding: 1.5em 3em;
        border-top: 0.3em solid $accentColor;
        
        p {
            text-align: left;
        }
    }

}


@media only screen and (min-width: 720px) {
    
    main {
        max-width: 700px;
    }
}

@media only screen and (min-width: 920px) {
   
    main {
        max-width: 1000px;

        .about {
            grid-template-areas: 'bio pic';
                
            .cover {
                grid-area: pic;
                width: 500px;
                height: 100%;
                padding: 0;
            }

            .bio {
                grid-area: bio;
                margin: 0;
            }
        }

        .cta {
            margin: 1.5em 0;
        }
    }
}