@import "./assets";
@import "./base";

main {
    padding: 2em;
    text-align: center;

    h1 {
        display: block;
        font-family: $titleFont;
        font-weight: 500;
        text-align: center;
        font-size: 3rem;
        transform: skewY(-3deg);
    }
    
    form {
        margin: 0 auto;
        width: 100%;
    }

    input, textarea {
        display: block;
        padding: 0.75em;
        margin: 1.2em auto;
        border: 0;
        border-radius: 3px;
        min-width: calc(100% - 1.5em);
        max-width: calc(100% - 1.5em);
        font-family: $fontFamily;
    }

    textarea {
        min-height: 200px;
    }

    button {
        border: 0;
        border-radius: 3px;
        padding: 1em 4em;
        background: $accentColor;
        color: $white;

        &:hover {
            cursor: pointer;
            background: $headerColor;
            transition-duration: 500ms;
        }
    }
}

.thanks {
    display: flex;
    margin: 0 auto;
    height: 90vh;
        
    h1 {
            margin: auto;
            font-family: $titleFont;
            font-weight: 500;
            text-align: center;
            font-size: 3rem;
        }
}

@media only screen and (min-width: 720px) {
    
    form, input, textarea {
        max-width: 700px;
    }
}

@media only screen and (min-width: 920px) {
    
    form, input, textarea {
        max-width: 1000px;
    }
}