@import "./assets";
@import "./base";

.section heading {
    background: $bgColor2;
    padding: 4em 2em;
    transform: skewY(-3deg);
    margin-top: 3em;
    
    & > div, section {
        transform: skewY(3deg);
        display: flex;
        align-items: center;
    }
}

.title {
    display: block;
    margin-top: 0;
    font-family: $titleFont;
    font-weight: 500;
    text-align: center;
    font-size: 3.5rem;
    transform: skewY(-3deg);
}

main {
    margin: 0 auto;
    padding: 0 2em;

    .project {
        padding: 2em 0;
        
        // .s1{
        //     background: url(../images/sweetery-site.png);
        // }
        // .s2{
        //     background: url(../images/fe-gamesite.png);
        // }
        // .s3{
        //     background: url(../images/seasons-site.png);
        // }

        .site {
            width: 100%;
            height: auto;
            // background-size: cover;
            // background-position: center;
        }
    }
}

@media only screen and (min-width: 720px) {
    main {
        padding: 0 5em;
    }
    .site {
        max-width: 800px;
    }
}