html, body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  background: #f4ece9;
  z-index: -1;
}

h1, h2, h3 {
  font-family: "Lora", serif;
  color: #24456b;
}

a {
  text-decoration: none;
  color: #ac5c46;
}

.wrapper {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

nav {
  display: block;
  width: 100%;
  height: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  text-align: center;
  background: #f4e1da;
  border-top: 0.3em solid #d19c8d;
}
nav .logo {
  display: inline-block;
  position: absolute;
  padding: 0.6em 0.8em;
  font-family: "Leckerli One", cursive;
  color: #24456b;
  font-size: 1.5rem;
}
nav .hamburger {
  display: inline-block;
  width: 2em;
  margin: 0.8em 1.2em;
  margin-left: calc(100% - 3.2em);
  cursor: pointer;
}
nav .hamburger div {
  transform: none;
  background: #24456b;
  width: 1.6em;
  height: 0.14em;
  margin: 0.4em;
  border-radius: 50px;
  transition: all ease-in-out 0.35s;
}
nav .hamburger.active .hb1 {
  transform: rotate(-45deg) translate(-0.4em, 0.4em);
}
nav .hamburger.active .hb2 {
  transform: translateX(0.8em);
  opacity: 0;
}
nav .hamburger.active .hb3 {
  transform: rotate(45deg) translate(-0.4em, -0.4em);
}
nav .navlinks {
  position: absolute;
  width: 0;
  margin: 0 auto;
  overflow: hidden;
  opacity: 0;
}
nav .navlinks.active {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  padding-bottom: 1em;
  opacity: 1;
  -webkit-animation: navSlide 0.5s ease-in-out;
          animation: navSlide 0.5s ease-in-out;
}
nav .navlinks a {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 1em;
  margin: 0 auto;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #24456b;
}
nav .navlinks a::after {
  content: "";
  position: relative;
  display: block;
  margin: 0 auto;
  height: 0.15em;
  background: #d19c8d;
  border-radius: 5px;
  opacity: 0;
  bottom: -0.8em;
  transition: all ease-in-out 0.35s;
}
nav .navlinks a:hover::after {
  opacity: 1;
  bottom: -0.3em;
}
nav .navlinks a:hover {
  color: #d19c8d;
}

@media only screen and (min-width: 680px) {
  nav .logo {
    display: none;
  }
  nav .hamburger {
    display: none;
  }
  nav .navlinks {
    display: block;
    position: relative;
    width: 100%;
    opacity: 1;
  }
  nav .navlinks a {
    display: inline-block;
    padding: 1em 2em;
  }
}
@-webkit-keyframes navSlide {
  from {
    opacity: 0;
    transform: translateX(5em);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes navSlide {
  from {
    opacity: 0;
    transform: translateX(5em);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}
.section heading {
  background: #e3e9f0;
  padding: 4em 2em;
  transform: skewY(-3deg);
  margin-top: 3em;
}
.section heading > div, .section heading section {
  transform: skewY(3deg);
  display: flex;
  align-items: center;
}

.title {
  display: block;
  font-family: "Leckerli One", cursive;
  font-weight: 500;
  text-align: center;
  font-size: 3rem;
  transform: skewY(-3deg);
}

main {
  margin: 0 auto;
  padding: 0 2em;
}
main .project {
  padding: 2em 0;
}
main .project .site {
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 720px) {
  main {
    padding: 0 5em;
  }
  main .project {
    margin: 0 auto;
    max-width: 700px;
  }
}
@media only screen and (min-width: 920px) {
  main {
    padding: 0 10em;
  }
  main .project {
    margin: 0 auto;
    max-width: 900px;
  }
}/*# sourceMappingURL=portfolio.css.map */