@import "./assets";
@import "./base";

.title {
    display: block;
    font-family: $titleFont;
    font-weight: 500;
    text-align: center;
    font-size: 3rem;
    transform: skewY(-3deg);
}

main {
    margin: 0 auto;
    padding: 0 2em;

    .project {
        padding: 2em 0;

        .site {
            width: 100%;
            height: auto;
        }
    }
}

@media only screen and (min-width: 720px) {
    main {
        padding: 0 5em;
        
        .project {
            margin: 0 auto;
            max-width: 700px;
        }
    }
}

@media only screen and (min-width: 920px) {
    main {
        padding: 0 10em;

        .project {
            margin: 0 auto;
            max-width: 900px;
        }
    }
}